body {
    background: url(image/lune.jpg) no-repeat center fixed;
    background-size: cover;
}

h1 {
    text-align: center;
    color: white;
}

p {
    text-align: center;
    color: white;
}

#boxMap {
    display: flex;
    justify-content: center;
}

#map {
    height: 600px;
    width: 750px;
    box-shadow: 14px 22px 8px 0px rgb(0, 52, 78);
}